<div class="contentWrapper">
<% @posts.each do |post| %>
  <div class="articleDiv">
    <img class="articleImg" src="<%= post.image_url %>">
  </div>
  <div class="articleCopy">
    <p class="userslistpage"><%= "Title: " %><a href=""><%= post.title %></a></p>
    <p class="userslistpage"><%= "By: " %><a href=""><%= post.first_name %><%= " " %><%= post.last_name %></a></p>
    <p class="userslistpage"><%= post.content %></p>
    <p class="userslistpage"><%= post.datetime %></p>
  </div>
  <div class="postDiv"></div>
<% end %>
</div>

