<body class="post_users">
    <div class="contentWrapper">
        <h3 class="userslistpage"><%= @post.first_name %></h3>
        <h3 class="userslistpage"><%= @post.title %></h3>
        <p class="userslistpage"><%= @post.content %></p>
        <p class="userslistpage">Created: <%= @post.created_at %></p>

        <div class="addpost">
            <form action="/delete/<%=@post.id%>" method="get">
            <input type="submit" value="delete">
            </form>
        </div>

        <p class="userslistpage">Edit Post</p>
            <form action="/post/<%= @post.id %>" method="post"> 
                <input type="hidden" name="_method" value="put">
                <input type="text" name="title" value="<%= @post.title %>">
                <input type="text" name="body" value="<%= @post.content %>">
                <br /><br />
                <div class="addpost">
                <input type="submit" value="update post">
                </div>
            </form>
        </div>
    </body>
