<% @users.each do |user| %>
  <div class="userslistpage">
    <p><%= "username: "%><%= user.username %><%= " | " %><%= "password: "%><%= user.password %></p>
    <p><%= "Name: "%><%= user.first_name %><%= " " %><%= user.last_name %></p>
    <p><%= "Email: "%><%= user.email %></p>
    <p><%= "Date of Birth: "%><%= user.dob %></p>
    <div class="postDiv"></div>
  </div>
<% end %>
