<% if (session[:user_id] == @user.id)%>
Username : <%= @user.username%><br/>
Name : <%= @user.first_name%> <br/>
E-mail : <%= @user.email%> <br/>
Birthday : <%= @user.dob%> <br/>
<%end%>
number of posts : <%=@user.post_counter %>

<% @posts.each do |post|%>
    <h3><%= post.title%></h3>
      <div><%= post.content%> 
      <div>
      <%if post.updated_timestamp == nil%>
        <%= post.created_timestamp%>
      <%else%>
        <%= post.updated_timestamp%>
      <%end%>
      
        <% if (session[:user_id]==post.user_id)%>
        <form action="/update_post/<%=post.id%>" method="get">
          <input name="subject"type="submit" value="Edit this post">
        </form>
        <form action="/delete_post/<%=post.id%>" method="post">
          <input type="submit" value="Delete This Post">
        </form>
        <%end%>
        </div>
        </div>
</div>
<%end%>


<form action="/delete_account" method="post">
  <input class="alert alert-danger" type="submit" value="Delete Account">
</form>